/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img, button {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

html, body, #root {
    height: 100%;
}

body {
    background: #efefea;
    font: normal 1em/1.5 Mulish, serif;
}

#container {
    max-width: 60em;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    row-gap: 1em;
}

#container > section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
    padding: .25em;
}

section.contrast {
    background: #eee;
}

h1 {
    letter-spacing: 1px;
    font-size: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25em;
    column-gap: .25em;
}

h1 svg {
    width: 1.25em;
    height: 1.25em;
}

#toolbarWrapper {
    color: #fff;
    display: flex;
}

#toolbarWrapper ul {
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    background: #EDEAD9;
}

#toolbarWrapper li {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 2px solid #ccc;
}

#toolbarWrapper li:last-child {
    border-right: 0;
}

#toolbarWrapper li.active {
    background: #cdcab9;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#toolbarWrapper li button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    min-width: 3em;
}

#toolbarWrapper li.active button {
}

#editorContainer {
    width: 100%;
    height: 24em;
    position: relative;
    border: 4px solid #ccc;
    margin-top: -4px;
    overflow-y: auto;
}

#editor {
    width: 100%;
    height: 100%;
}

#editorPlaceholder {
    position: absolute;
    top: .5em;
    left: .5em;
    color: #888;
}

#contentEditable {
    width: 100%;
    min-height: 100%;
    background: #eee;
    color: #000;
    padding: .5em;
    outline: 0;
}

#contentEditable .editor_textUnderline {
    text-decoration: underline;
}

#contentEditable .editor_textItalic {
    font-style: italic;
}

#contentEditable .selected.map {
    outline:2px solid #000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}

#mapsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 32em;
    background: #FFF;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 0 #CCC;
}

#mapsModal header {
    background: #eee;
    padding: .25em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mapsModal header button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapsModal header button svg {
    width: 1.25em;
    height: 1.25em;
}

#mapsModal .mapWrapper {
    padding: 1em;
}

#mapsModal .buttonWrapper {
    padding: 0 1em .75em;
    display: flex;
    column-gap: 1em;
}

#mapsModal .buttonWrapper .button {
    background: #eee;
    padding: 0 .625em;
    height: 2em;
}

#mapsModal button:hover {
    background: #ddd;
}

#mapsModal #findLocationWrapper {
    position: relative;
}

#mapsModal #findLocationButton {
    display: flex;
    align-items: center;
}

#findLocationButton svg {
    width: 1.25em;
    height: 1.25em;
}

#findLocationWrapper ul {
    position: absolute;
    background: #fafafa;
    top: 2em;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#findLocationWrapper ul button {
    width: 100%;
    height: 2.375em;
    text-align: left;
    padding: 0 .5em;
    display: flex;
    align-items: center;
    column-gap: .5em;
    font-size: .875em;
    color: #222;
}

#insertButton {
    margin-left: auto;
}